:root {
    --main-color: white;
    --preben-color: #48412d; /* Her Preben, fargen din  */
    --text-color: white;
    --phone-bg: #082032;
    --content-bg: #334756;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--main-color);
    font-family: "Roboto", sans-serif;
}
.uber_parent {
    display: flex;
    justify-content: center;
}
/* blabla ikke bland class og id... Pffft, jeg blander alt. Hmm går og blander meg litt saft. */
#phone-size{
    width: 100%;
    max-width: 100%;
    height: 100vh; /* 844px for iphone 13*/
    min-height: 200px;
    overflow: hidden;
    background-color: var(--phone-bg);
    color: var(--main-color);
}
#phone-notch{
    width: 100%;
    height: 3%;/*35/844*/
    min-height: 30px;
    padding: 5px 0 0 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    background-color: var(--phone-bg);
}
#phone-nav{
    width: 100%;
    height: 7%; /*80/844*/
    min-height: 58px;
    margin:auto;
    background-color: var(--phone-bg);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
#phone-nav-search-btn, #phone-settings, #page-name {
    margin: auto; /* center vertical */
    cursor: pointer;
    display: block;
}
#phone-search-bar{
    margin: auto; /* center vertical */
    max-width: 150px;
}
#search{
    width: 100%;
    min-width: 35px;
    height: 30px;
    margin: auto;
    background-color: var(--content-bg);
    color: var(--main-color);
}
#page-name{
    display: block;
    min-width: 150px;
    overflow: hidden;
    text-align: center;
}
#p-name-txt{
    min-width: 62px;
    padding: 10px;
    margin: 5px 0 10px 0;
    border-radius: 20px;
    background-color: var(--content-bg);
}
#content{
    height: 79%;/*630/844*/
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--content-bg);
}
/* scrollbar func hidden taken from this page */
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_scrollbar_keep_func*/
/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
    display: none;
}
.event_cont_parent::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#content, .event_cont_parent {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* no longer code taken from link above */

.event{
    max-height: 300px;
    min-height: 90px;
    display: flex;
    border: var(--main-color) 1px;
    border-style: solid hidden solid hidden;
}
.preference{
    max-height: 100%;
    min-height: 90px;
    display: flex;
}
.preference p {
     /* 78% av høyden på skjermen */
    text-align: center;
    margin: 30.5vh 0; /* This ugly btw, should have made another div*/
}
.pref_cont_child{
    min-width: 100%;
    padding: 0 10px 0 10px;
    scroll-snap-align: start; /* får cont til å snappe */
}
.event_cont_parent{
    width: 100%;
    padding: 10px;
    display: inline-flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; /* får cont til å snappe */
}
.event_cont_child{
    min-width: 100%;
    padding: 0 10px 0 10px;
    scroll-snap-align: start; /* får cont til å snappe */
    position: relative;
    overflow: hidden;
}
.deltakere{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px 10px 0;
    text-align: center;
}
.event_title h3{
    font-size: 15px;
}
.event_date h3{
    font-size: 12px;

}
.event_title{
    float: left;
    white-space: nowrap;
}
.event_date{
    float: right;
    white-space: nowrap;
}
footer{
    width: 100%;
    height: 10%; /*90/844*/
    min-height: 60px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--phone-bg);
}
footer div{
    margin: auto;
    cursor: pointer;
}
footer p{
    border-radius: 20px;
    padding: 1vh 3vw;
    background-color: var(--content-bg);
    white-space: nowrap;
}

.icon span{
    display: flex;
}

/* Friends*/
.friends_picture{
    width: auto;
    max-height: 150px;
}

.friends_bio{
    position: absolute;
    margin-left: 10px;
    margin-top: 10px;
}

/* Loading page*/

/* Sentrert all tekst*/
.loading_page {
    text-align: center;
}
/* Sirkel som loader på nettsida, brukt denne kilden som mal: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader*/
.loader_circle{
    margin: auto; /* Midtstille innhold med marg fra kanten som er satt til automatisk lik fra begge sider */
    border: 8px solid white; /* Farge og tykkelse på loading sirkel*/
    border-radius: 50%; /* Lage sirkelen rundt i stedet for firkantet*/
    border-bottom: 8px solid #082031; /* Farge på del av sirkelen er satt til bli (#082130)*/
    width: 50px; /* Styre størrelse på sirkel i bredden*/
    height: 50px; /*styre størrelse på sirkel i høyde*/
    -webkit-animation: spin 1.7s linear infinite; /* Styre en endring i status på et objekt og hvilke hastighet det skal endres i og når den skal starte*/
}

/* Definerer navn på objekt og hvilke endring som skal skje i objektet fra startpunkt til sluttpunkt, her med rotering fra 0 % til 100 %*/
@-webkit-keyframes spin {
    0% {-webkit-transform: rotate(0deg);}
    50% {-webkit-transform: rotate(360deg);}
}

/*Settings*/
/*https://www.youtube.com/watch?v=WBSOebkzHo0*/
/*https://www.youtube.com/watch?v=ayRthgpfy1k&t=59s*/
.container{
    background: var(--content-bg);
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.profile{
    font-size: 1.3em;
    border-bottom: 2px solid #082032;
    margin: 20px;
    padding-bottom: 35px;
    padding-left: 10px;
}

.privat{
    padding-left: 5px;
}

.lås{
    position: relative; top: 8px;
}

.toggle {
    float:right;
    margin-right: 10px;
}

.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle .onoff {
    color: #fff;
    font-size: 1em;
    text-align: center;
    display: block;
}

.slider {
    position: relative;
    display: block;
    cursor: pointer;
    transition: 0.4s;
    width: 60px;
    height: 30px;
    background-color: limegreen;
    box-shadow: 0 0 5px limegreen;
}

.slider:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 30px;
    background-color: #fff;
    transition: 0.4s;
    top: 5px;
    left: 25px;
}

input:checked + .slider {
    box-shadow: none;
    background-color: #333;

}

input:checked + .slider:before {
    transform: translateX(-20px);
}

.slider.round {
    border-radius: 20px;
}
.slider.round::before {
    border-radius: 20px;
}