:root {
    --main-color: #48412d; /* Her Preben, fargen din  */
    --text-color: azure;
    --phone-bg: lightblue;
    --content-bg: white;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--main-color);
}
.uber_parent {
    display: flex;
    justify-content: center;
}



/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.Phone -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */
/* -.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-.-. */


#phone-size{
    width: 100%;
    max-width: 390px;
    height: 800px; /* 844px for iphone 13*/
    color: var(--main-color);
    overflow: hidden;
}
#phone-notch{
    padding: 5px;
    width: 100%;
    height: 4%;/*35/844*/
    min-height: 30px;
    background-color: var(--phone-bg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#phone-nav{
    margin:auto;
    width: 100%;
    height: 9%; /*80/844*/
    background-color: var(--phone-bg);
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}
#phone-nav-search-btn, #phone-settings{
    width: 50px;
    height: 50px;
    margin: auto 10px; /* center vertical */
    border-radius: 50px;
    cursor: pointer;
    display: block;
}
#phone-search-bar{
    margin: auto 0; /* center vertical */
}
#search{
    width: 100%;
    min-width: 40px;
    height: 30px;
}





#content{
    height: 74.6445%;/*630/844*/
    overflow-y: scroll;
    overflow-x: hidden;
}
/* scrollbar func hidden taken from this page */
/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_scrollbar_keep_func*/
/* Hide scrollbar for Chrome, Safari and Opera */
#content::-webkit-scrollbar {
    display: none;
}
.event_cont_parent::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#content, .event_cont_parent {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* no longer code taken from link above */
.event{
    display: flex;
    max-height: 200px;
    min-height: 80px;
    border: black 1px;
    border-style: solid hidden solid hidden;
    max-width: 100%;
}
.event_cont_parent{
    display: inline-flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory; /* får cont til å snappe */

}
.event_cont_child{
    padding: 10px 0 10px 10px;
    min-width: 380px;
    max-width: 380px;
    background-color: var(--content-bg);
    scroll-snap-align: start;
}
footer{
    background-color: var(--phone-bg);
    height: 10.66%; /*90/844*/
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
footer div{
    vertical-align: center;
    margin: auto;
    cursor: pointer;
}